<h1><%= @room_name %></h1>
<div id="chat-messages"></div>
<input id="chat-input" type="text">
<input id="room-name" type="hidden" value="<%= @room_name %>">
<input id="username" type="hidden" value="<%= @username %>">